<h1 class="cntr">Please Login here</h1>    
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button class="btn-lg" type="submit" routerLinkActive="active" routerLink="/dab-booking">Login</button>  &nbsp;&nbsp;          
            <button type="button" class="btn-lg"> Cancel</button><br><br>
            <input type="checkbox" checked="checked"> Remember me &nbsp; &nbsp; &nbsp; &nbsp;
            Forgot <a href="#"> password? </a>   
        </div>
</form>     
<router-outlet></router-outlet>
