<div class="d-flex p-3 mb-3 border-bottom shadow-sm" style="background-color: aquamarine;">
  <h5 class="head">Doctor Appointment Booking</h5>
  <nav class="buttons">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/dab-login">Log In</a>
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/dab-signup">Sign Up</a>
    <!--<a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/dab-booking">Emergency</a>-->
  </nav>
</div>
<router-outlet></router-outlet>